{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="id_username">Username:</label>
                <input type="text" id="id_username" name="username" maxlength="150" required>
            </div>
            <div>
                <label for="id_password">Password:</label>
                <input type="password"
                       id="id_password"
                       name="password"
                       maxlength="150"
                       required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock content %}
